.fg {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

.font-motto {
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
}

.comp-title {
  width: 98%;
  margin: 25px 0;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 100;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 5px rgba(25,77,110,0.5);
	background-color: #ddd;
}

*::-webkit-scrollbar
{
  width: 0px;
  height: 0px;
	background-color: #EEEEEE;
  z-index: 1;
}

::-webkit-scrollbar:hover
{
	width: 3px;
  height: 5px;
}

*::-webkit-scrollbar-thumb
{
	background-color: #aaa;
}
