/* Dropdown classes
================================== */
.Dropdown-root {
  position: relative;
  font-family: 'Inconsolata';
  font-weight: 40;
  font-size: 12px;
  line-height: 12px;
}

.Dropdown-control {
  background-color: none;
  border: 1px solid rgba(125,125,125, 0.8);
  padding: 4px;
  color: #ddd;
  cursor: pointer;
  transition: all 200ms ease;
}

.Dropdown-placeholder {
  color: #777;
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 8px;
  top: 9px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: rgba(30,30,30, 0.85);
  border: 1px solid rgba(125,125,125, 0.8);
  box-sizing: border-box;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  margin-left: 10%;
  width: 90%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1.2);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(251, 251, 251, 0.8);
  cursor: pointer;
  display: block;
  padding: 3px 5px 3px 10px;
}

.Dropdown-option:hover {
  background-color: rgba(255,255,102,0.05);
  color: #fff;
}

.Dropdown-option.is-selected {
  background-color: rgba(255,255,102,0.35);
  color: #fff;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
