
.newChannelInput {
  position: relative;
  overflow: hidden;
  background-color: none;
  border: 1px solid rgba(200,200,200,0.3);
  border-radius: 1px;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 5px;
  margin-right: 5%;
  transition: all 200ms ease;
  height: 30px;
}

.newChannelButton {
  position: relative;
  width: 92%;
}
