.MenuBar {
  background: rgba(27, 27, 27, 1);
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid #333;
  padding: 10px 30px 6px 15px;
}

.Logo {
  margin-bottom: 0px !important;
  color: #bbb;
}
.Version {
  margin-top: 30px;
  background: rgba(200,200,90, 0.75);
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.User{
  display: flex;
  padding: 5px;

  justify-content: center;
  align-items:center;
  color: #ddd;
  font-weight: bold;
}

.TimerControls{
  display: flex;
  flex-direction: row;
  border: 0.5px solid rgba(125,125,125, 0.8);
  margin-left: 30px;
  padding: 0 10px 0 5px;
  justify-content: center;
  align-items: center;
}

.TimesInput {
  font-size: 12px;
  text-align: center;
  vertical-align: center;
  width: 30px;
}

.ServerStatus {
  width: 5px;
  height: 40px;

  margin-right: 5px;

  background: #fff;
  opacity: 0.6;

  transition: all 400ms ease;
}
.ServerStatus.inactive {
  background: #bf2618;
}.ServerStatus.ready {
  background: #ffc005;
}.ServerStatus.running {
  background: #1fc60f;
}


@keyframes flash {
  from {color: white;}
  to {color: rgba(255,255,102, 0.75);}
}

#login {
  animation-name: flash;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
