body,
.fill,
.cont {
  position: inherit;
  background: black;
  top: 43px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  z-index: 0;
  font-size: 14px;
  max-width: calc(100% - 50px);
}

* {
  font-family: 'Inconsolata';
  font-weight: 40;
}

html {
  padding: 0;
}

*:focus {
  outline: none;
}

*>button,
input {
  padding: 4px;
  font-size: 10px;
  border: none;
}

input {
  background: none;
  color: #ddd;
  border-bottom: 1px solid rgba(125, 125, 125, 0.8);
  font-size: 10px;
  width: 95%;
}

*>input .light {
  border-bottom: 2px solid #fff;
}

button:hover {
  cursor: pointer;
  color: rgba(255, 255, 102, 0.75);
}

b,
p {
  padding: 0;
  margin: 0;
}

.fg {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

.font-motto {
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
}

.comp-title {
  width: 98%;
  margin: 25px 0;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 100;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(25, 77, 110, 0.5);
  -webkit-box-shadow: inset 0 0 5px rgba(25, 77, 110, 0.5);
  background-color: #ddd;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #EEEEEE;
  z-index: 1;
}

::-webkit-scrollbar:hover {
  width: 3px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #aaa;
}