/* .editor-holder{
	height: 40px;
	position: relative;
	top: 0;
	overflow: auto;
	transition: all 0.5s ease-in-out;
}

.editor-holder textarea, code {
    width: 100%;
    height: auto;
    min-height: 40px;
    font-size: 12px;
    line-height: 14px;
    border: 0;
    margin: 0;
    
    left: 0;
    position: absolute;
    font-family: Consolas,Liberation Mono,Courier,monospace;
    overflow: visible;
    transition: all 0.5s ease-in-out;
}

.editor-holder textarea {
    background: transparent ;
    z-index: 2;
    height: auto;
    resize: none;
    color: #fff;
    padding: 0;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.editor-holder textarea::-webkit-input-placeholder {
    color: #777;
    font-size: 12px;
    text-align: right;
    vertical-align: bottom;
    transition: opacity 250ms ease-in-out;
}

.editor-holder textarea:focus{
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.editor-holder code{
    z-index: 1;
    font-stretch: 100%;
}   


pre {
	white-space: pre-wrap;  
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;  
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

pre code {
    background: rgba(0,0,0,0.3) !important;
    color: #adadad;

    font-family: Consolas,Liberation Mono,Courier,monospace;
    font-size: 12px;
    letter-spacing: normal;

}
pre .even {
    background: rgba(0,0,0,0.45) !important;
}

pre code .token {
    outline: solid 1px var(--global-color);
    color:lightpink;
}
pre code span:nth-child(odd) > span {
    color: lightblue; 
}




pre code .active {
    background-color: var(--accent-color);
    box-shadow: inset 0px 0px 15px rgba(0,0,0, 0.15);
  }
  
  pre code .selected {
    background: rgba(103, 230, 220, 0.05);
    outline: 1px solid rgba(255, 255, 255, 0.35);
  }
  
  pre code .highlighted {
    background: rgba(103, 230, 220, 0.15);
    outline: 1px solid rgba(255, 255, 255, 0.45);
  }
 */

/*Individual Grid Cells*/

.GridItem {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    resize: none;
    width: 100%;
    line-height: 24px;
    font-size: 13px;
    text-rendering: optimizeSpeed;
    text-align: center;
    vertical-align: center;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    padding: 0 2px 0 2px;
}

.GridItem.even {
    background: rgba(0, 0, 0, 0.45);
}

.GridItem.odd::-webkit-input-placeholder {
    /* Chrome */
    opacity: 0.8;
    color: #777;
    font-size: 12px;
    text-align: right;
    vertical-align: bottom;
    transition: opacity 250ms ease-in-out;
}

.GridItem.odd:focus::-webkit-input-placeholder {
    opacity: 0.4;
}

/*Selected Grid Items*/
.GridItem.selected {
    background: rgba(103, 230, 220, 0.02);
    outline: 1px solid rgba(255, 255, 255, 0.35);
}

/*Highlighted Grid Items*/

.GridItem.highlighted {
    background: rgba(103, 230, 220, 0.05);
    outline: 1px solid rgba(255, 255, 255, 0.45);
}

/*Active Individual Grid Cells*/
.GridItem.active {
    background-color: rgba(223, 219, 35, 0.2);
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.15);
}