.MenuBar {
  background: rgba(27, 27, 27, 1);
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid #333;
  padding: 10px 10px 6px 15px;
}

.Logo {
  margin-bottom: 0px !important;
  color: #0bb;
  margin-right: 10px !important;
}

/*Animation*/
@keyframes flusa {
  0% {filter: blur(0px);
      transform: scale(1);}
  20% {filter: blur(2px);
       transform: scale(1.1);}
  100% {filter: blur(0px);
        transform: scale(1);}
}
.Executed {
  animation-name: flusa;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.Version {
  margin-top: 30px;
  background: rgba(200,200,90, 0.75);
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.User{
  display: flex;
  padding: 5px;

  justify-content: center;
  align-items:center;
  color: #ddd;
  font-weight: bold;
}

.TimerControls{
  display: flex;
  flex-direction: row;
  border: 0.5px solid rgba(125,125,125, 0.8);
  margin-right: 3px;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}
.TimerControls:hover{
  background: rgba(255, 255, 158, 0.15);
}

.OtherControls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.OtherControls > button {
  height: 100%;
  margin-right: 3px;
  padding: 0 5px 0 5px;
}


.TimesInput {
  font-size: 12px;
  text-align: center;
  vertical-align: center;
  width: 30px;
}

.ServerStatus {
  width: 5px;
  height: 100%;

  margin-right: 0px;

  background: #fff;
  opacity: 0.6;

  transition: all 100ms ease;
}
.ServerStatus.inactive {
  background: #bf2618;
}.ServerStatus.ready {
  background: #ffc005;
}.ServerStatus.running {
  background: #1fc60f;
}