.cm-s-_style.CodeMirror { background: #f5f5f5; color: #202020; background-color:rgba(0, 0, 0, 0.1);}
.cm-s-_style div.CodeMirror-selected { background: #000; border: 1px dashed #aaa;}
.cm-s-_style .CodeMirror-line::selection, .cm-s-_style .CodeMirror-line > span::selection, .cm-s-_style .CodeMirror-line > span > span::selection { background: #487283; }
.cm-s-_style .CodeMirror-line::-moz-selection, .cm-s-_style .CodeMirror-line > span::-moz-selection, .cm-s-_style .CodeMirror-line > span > span::-moz-selection { background: #487283; }
.cm-s-_style .CodeMirror-gutters { background: #888; border-right: 0px; }
.cm-s-_style .CodeMirror-guttermarker { color: #ac4142; }
.cm-s-_style .CodeMirror-guttermarker-subtle { color: #b0b0b0; }
.cm-s-_style .CodeMirror-linenumber { color: #000; font-weight: bolder;;}
.cm-s-_style .CodeMirror-cursor { border-left: 1px solid #fff; }
.cm-s-_style span.cm-comment { color: #a1d38b; }
.cm-s-_style span.cm-atom { color: #aa759f; }
.cm-s-_style span.cm-number { color: #f4bf75; }
.cm-s-_style span.cm-integer { color: #f4bf75; }
.cm-s-_style span.cm-builtin { color: #86dae0; }

/* Custom selectors for Siren */
.cm-s-_style span.cm-variableexpression { color: #fffb9b; border: solid 1px rgba(255, 255, 255, 0.4);  }
.cm-s-_style span.cm-mathexpression { color: #66fff7; border: solid 1px rgba(255, 255, 255, 0.4); }

.cm-s-_style span.cm-property, .cm-s-_style span.cm-attribute { color: #90a959; }
.cm-s-_style span.cm-keyword { color: #b5ce26; } /*ac4142*/
.cm-s-_style span.cm-string { color: #3dbdce; }
.cm-s-_style span.cm-symbol { color: #111; }
.cm-s-_style span.cm-variable { color: #ddd; } /*#478ba7;*/
.cm-s-_style span.cm-variable-2 { color: #ddd; }  /*#6a9fb5;*/
.cm-s-_style span.cm-variable-3 { color: #ddd; }  /*#6a9fb5;*/
.cm-s-_style span.cm-qualifier { color: #f4bf75; }  /*#6a9fb5;*/
.cm-s-_style span.cm-def { color: #d28445; }
.cm-s-_style span.cm-bracket { color: #202020; }
.cm-s-_style span.cm-tag { color: #ac4142; }
.cm-s-_style span.cm-link { color: #aa759f; }
.cm-s-_style span.cm-error { background: #ac4142; color: #505050; }

.cm-s-_style .CodeMirror-activeline-background { background: #487283; }
.cm-s-_style .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }
