.Home {
  padding: 15px;
  display: flex;
}

.Tidal {

  flex-grow: 1;
  flex-direction: row;

}

.Commands {
  display: flex;
  padding: 10px;
  flex-grow: 2;
  flex-direction:column-reverse;
}

.CommandsColumn {
  overflow-y: auto;
}

.commandDiv {
  resize:both;
  overflow-y: auto;
  width: 98%;
  min-height: 80px;
  height: 150px;
  border: 1px rgba(125,100,100, 0.8);
}

.matDiv {
  resize:both;
  overflow-y: auto;
  width: 98%;
  min-height: 50px;
  height: 90x;
  border: 1px solid rgba(125,125,125, 0.8);
}

.matrices {
  display: flex;

  flex-grow: 1;
  flex-direction: row;
}

.sceneList {
  display: flex;

  overflow-y: auto;
}

.Player-holder {
  display: flex;
  flex-grow: 2;
  flex-direction: column;

  overflow-y: auto;

}
.durInput{
  width: 50%;


}
.transition{


}
#Celluar {
  padding-top: 20px;
  padding-bottom: 10px;
}

#SCmsg{

  font-size: 10px;
  vertical-align: center;
  line-height: 80px;
  max-width: 120px;
  text-align: center;
}

.newCommandInput {
  font-size: 12px;
  border: 1px solid rgba(125,125,125, 0.8);
  display: flex;
  flex-grow: 10;
}
.newCommandButton {
  font-size: 12px;
  border: 1px solid rgba(125,125,125, 0.8);
  display: flex;
  flex-grow: 1;
}

.easter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 120%;
  height: 150%;
}

.defaultCommandArea{
  display: flex;
  flex-direction: column;
  align-self: flex-end;

  width: 180px;
  height: 100px;
}

.Command {

  margin: 5px;
  background: #CCC;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.metro {
  background-color: rgba(255,255,102,0.15)!important;
  margin: 0;
  padding: 0;
}

.metro-active {
  background-color: rgba(255,255,102,0.95)!important;
}

.Player {
  display: flex;
  margin: 0;
  line-height: 20px;
  min-height: 35px;
  padding: 0;
}

.playbox {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0;
  opacity: 0.6;
  text-align: center;
  overflow: hidden;
  list-style: none;
  display: flex;
  font-size: 1vw;
  line-height: 24px;
  vertical-align: center;
  background: none!important;
}

.playbox > textarea {
  font-size: 0.8vw;
  background: none!important;
  border: 1px solid rgba(125,125,125, 0.65);
  flex-grow: 1;
  resize: none;
  overflow: hidden;
}

.playbox > div {
  font-size: 0.88vw;
  background: none!important;
}

.playbox-active {
  background-color: rgba(255,255,102,0.15)!important;
}

.playbox-cycle {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}

/* Table column sizing
================================== */
.Player--2cols > .playbox  { width: 50%; }
.Player--3cols > .playbox  { width: 33.33%; }
.Player--4cols > .playbox  { width: 25%; }
.Player--5cols > .playbox  { width: 20%; }
.Player--6cols > .playbox  { width: 16.6%; }
.Player--7cols > .playbox  { width: 14.27%; }
.Player--8cols > .playbox  { width: 12.5%; }
.Player--13cols > .playbox  { width: 7.5%; }
.Player--16cols > .playbox  { width: 6.25%; }
.Player--17cols > .playbox  { width: 5.88%; }
