.Home {
  padding: 15px;
  display: flex;
  background: rgba(27, 27, 27, 1);
}

.Tidal {
  flex-grow: 1;
  flex-direction: row;
}

.User{
  display: inline-flex;
  flex-direction: row;
}

.TimerControls{

}

@keyframes flash {
  from {color: white;}
  to {color: rgba(255,255,102, 0.75);}
}
#login {
  animation-name: flash;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.CodeMirror {
  background-color: rgba(255,255,255, 0.05) !important;
}

@keyframes flusa {
  from {background-color: rgba(255,255,102,0.2);}
  to {background-color: rgba(0,0,0, 0);}
}
.Executed {
  animation-name: flusa;
  animation-duration: 1s;
}

.LayoutSplitter {
  background: rgba(255,255,255, 0.5) !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  z-index: 1 !important;
  -moz-background-clip: padding !important;
  -webkit-background-clip: padding !important;
  background-clip: padding-box !important;
}

.easter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200%;
}

.Patterns {
  display: flex;
  padding: 10px;
  padding-bottom: 75px;
  flex-grow: 2;
  flex-direction:column-reverse;
}

.PatternsColumn {
  overflow-y: auto;
}

.patternDiv {
  resize:both;
  overflow-y: auto;
  width: 98%;
  min-height: 80px;
  height: 150px;
  border: 1px rgba(125,100,100, 0.8);
}

.matDiv {
  resize:both;
  overflow-y: auto;
  width: 98%;
  min-height: 50px;
  height: 90x;
  border: 1px solid rgba(125,125,125, 0.8);
  padding-bottom: 5px;
}

.matrices {
  display: flex;
  flex-grow: 2;
  flex-direction: row;
  padding-bottom: 5px;
}

.sceneList {
  display: flex;
  overflow-y: auto;
  padding-bottom: 5px;
}


.step-holder {
  display: flex;
  flex-grow: 2;
  flex-direction: row;
  overflow-y: auto;
}


.newPatternInput {
  font-size: 12px;
  border: 1px solid rgba(125,125,125, 0.8);
  display: flex;
  width: 90%;
  flex-grow: 10;
}

.newPatternButton {
  font-size: 12px;
  border: 1px solid rgba(125,125,125, 0.8);
  display: flex;
  flex-grow: 1;
}

.defaultPatternArea{
  display: flex;
  font-size: 18px;
  flex-direction: column;
  align-self: flex-end;
  margin: 5px;
  width: 95%;
  height: 30%;
}

.defaultPatternHistoryArea {
  display: flex;
  font-size: 12px;
  flex-direction: column;
  align-self: flex-end;
  margin: 5px;
  width: 95%;
  height: 15%;
}

.Pattern {
  margin: 5px;
  background: #CCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ChannelHolder {
  display: flex;
  flex-grow: 2;
  flex-direction: row;
  overflow-y: auto;
  margin: 10px;
}

.Channel {
  display: flex;
  flex-direction: column;
  margin: 0;
  line-height: 20px;
  min-height: 35px;
  padding: 0;
}

/* Matrix header styling*/
.channelHeader {
  display: inline-flex;
  background: rgba(200,200,200,0.1);
  line-height: 2px;
  border-style: double;
  border-width: 1px;
  border-color: rgba(180,180,180, 1);
}
.Visual {
  background: rgba(144, 48, 90,0.5);
}
.Audio {
  background: rgba(170, 162, 57,0.5);
}
.MIDI {
  background: rgba(255, 175, 63, 0.5)
}

.playbox {
  display: flex;
  flex-grow: 1;
  width: 95%;
  margin-left: 2.5%;
  line-height: 24px;
  font-size: 1vw;
  text-align: center;
  vertical-align: center;
  overflow-y: auto;
  border: 1px solid rgba(125,125,125, 0.15);
  background: rgba(0,0,0,0.3);
  opacity: 0.6;
}

.transition {
  width: 95%;
  margin-left: 2.5%;
  height: 5%;
  font-size: 1vw;
  text-align: center;
  vertical-align: center;
  overflow-y: auto;
  border: 1px solid rgba(125,125,125, 0.4);
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.6;
}

.playbox-active {
  background-color: rgba(255, 255, 255, 0.1);

  border: 1px solid rgba(125,125,125, 0.65);
  display: flex;
  flex-grow: 1;
  width: 100%;
  font-size: 1vw;
  line-height: 24px;
  vertical-align: center;
  text-align: center;
}

/* Table column sizing
================================== */

.Channel--2cols > .playbox  { width: 50%; }
.Channel--3cols > .playbox  { width: 33.33%; }
.Channel--4cols > .playbox  { width: 25%; }
.Channel--5cols > .playbox  { width: 20%; }
.Channel--6cols > .playbox  { width: 16.6%; }
.Channel--7cols > .playbox  { width: 14.27%; }
.Channel--8cols > .playbox  { width: 12.5%; }
.Channel--13cols > .playbox  { width: 7.5%; }
.Channel--16cols > .playbox  { width: 6.25%; }
.Channel--17cols > .playbox  { width: 5.88%; }

/* Dropdown classes
================================== */
.Dropdown-root {
  position: relative;
}

.newChannelInput {
  position: relative;
  overflow: hidden;
  background-color: none;
  border: 1px solid rgba(200,200,200,0.3);
  border-radius: 1px;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 5px;
  margin-right: 5%;
  transition: all 200ms ease;
  height: 30px;
}

.newChannelButton {
  position: relative;
  width: 92%;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: none;
  border: 1px solid rgba(200,200,200,0.3);
  border-radius: 1px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 5px;
  margin-right: 5%;
  transition: all 200ms ease;
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: rgb(30,30,30);
  border: 1px solid rgba(200,200,200,0.3);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1.2);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(251, 251, 251, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: rgba(255,255,102,0.05);
  color: #fff;
}

.Dropdown-option.is-selected {
  background-color: rgba(255,255,102,0.15);
  color: #fff;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
