.MenuBar {
  background: rgba(27, 27, 27, 1);
  position: fixed;
  display: inline-flex;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid #333;
  padding: 0 30px;
}

.MenuBar > a {
  padding: 5px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  color: #ddd;
  font-weight: 400;
  font-size: 18px;
}

.MenuBar > a:hover {
  color: #ddd;
  text-decoration: underline;
}

.MenuBar > a.active {
  color: rgba(27, 27, 27, 1);
  text-decoration: none;
}

.User{
  display: flex;
  padding: 5px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  color: #ddd;
  font-weight: 400;
  font-size: 18px;
}

.TimerControls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@keyframes flash {
  from {color: white;}
  to {color: rgba(255,255,102, 0.75);}
}

#login {
  animation-name: flash;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
