.Modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 19%;
  left: 10%;
  right: 10%;
  top: 41px;
  background: #eeeecc;
}

.Modal-header {
  background: #f00f0f;
  margin: 5px;
  padding: 5px;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  text-transform: lowercase;
  text-align: center;
}

.Modal-body {
  padding: 10px;
  background: #eeeecc;
  flex: 1 1 auto;
  overflow-y: scroll;
}

.Modal-foo {
  padding:5px;
  background: #eeeecc;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.Modal-foo > button{
  font-size: 16px;
  padding: 5px;
}
